
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{ }
<div class="container-fluid">
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Bạn Không Có Quyền Truy Cập</p>

        <a href="/Admin/Home">&larr; Back to Dashboard</a>
    </div>

</div>

