<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Home">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Hệ thống
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLang"
           aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa-solid fa-earth-americas"></i>
            <span>Ngôn ngữ</span>
        </a>
        <div id="collapseLang" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <div class="py-2">
                    @using (Html.BeginForm("ChangeCulture", "Base"))
                    {
                        @Html.Hidden("returnUrl", Request.RawUrl)
                        @Html.DropDownList("ddlCulture", new SelectList(new[] {
                            new {value="vi",text=StaticResources.Resources.Vietnamese},
                            new {value="en",text=StaticResources.Resources.English},
                        }, "value", "text", Session[OnlineShop.Common.CommonConstants.CurrentCulture]), htmlAttributes: new { onchange = "this.form.submit();", @class = "collapse-item" })
                    }
                </div>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Hệ thống
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseZero"
           aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-user"></i>
            <span>Hệ thống</span>
        </a>
        <div id="collapseZero" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" href="/Admin/UserGroup/Index">Nhóm người dùng</a>
                <a class="collapse-item" href="/Admin/User/Index">User</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Tin tức
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
           aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa-solid fa-newspaper"></i>
            <span>Tin tức</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" href="/Admin/Category/Create">Danh mục tin tức</a>
                <a class="collapse-item" href="/Admin/Content/Index">Tin tức</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>-->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Sản phẩm
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="false" aria-controls="collapseTwo">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>Sản phẩm</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" href="/Admin/ProductCategory/Index">Danh mục sản phẩm</a>
                <a class="collapse-item" href="/Admin/Product/Index">Sản phẩm</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Quản lý chung
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
           aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Quản lý chung</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @*<h6 class="collapse-header">Custom Components:</h6>*@
                <a class="collapse-item" href="/Admin/ProductCategory/Index">Giới thiệu</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Footer</a>
                <a class="collapse-item" href="/Admin/Product/Index">Menu</a>
                <a class="collapse-item" href="/Admin/Product/Index">Slide</a>
                <a class="collapse-item" href="/Admin/Product/Index">Phản hồi</a>
            </div>
        </div>
    </li>

























    <!-- Heading -->
    <!--<div class="sidebar-heading">
        Sản phẩm
    </div>-->
    <!-- Nav Item - Pages Collapse Menu -->
    <!--<li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Danh mục</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item active" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>-->
    <!-- Nav Item - Charts -->
    <!--<li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
    </li>-->
    <!-- Nav Item - Tables -->
    <!--<li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>
    </li>-->
    <!-- Divider -->
    <!--<hr class="sidebar-divider d-none d-md-block">-->
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->